<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("Flot Charts", "FlotChart", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Morris.js Charts", "Morris", "Admin")
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="@Url.Action("Table", "Admin")"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="@Url.Action("Forms", "Admin")"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("Panels and Wells", "PanelsWells", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Buttons", "Buttons", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Notifications", "Notifications", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Typography", "Typography", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Icons", "Icons", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Grid", "Grid", "Admin")
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("Blank Page", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Login Page", "Login", "Account")
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="@Url.Action("ItemType", "Admin")"><i class="fa fa-table fa-fw"></i> ItemType Tables</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 软考<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        @Html.ActionLink("试题库", "Index", "Test")
                    </li>
                    <li>
                        @Html.ActionLink("我要考试", "Edit", "Test")
                    </li>
                    <li>
                        @Html.ActionLink("文件", "File", "Test")
                    </li>
                    <li>
                        @Html.ActionLink("武汉社保咨询", "Question", "Test")
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
